/*Used for styling the contentBox*/
html {
    font-size: 16px; /*standard font-size (1 rem = 16 px)*/ 
}

.contentBox {
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-color: red;
    padding: 1rem;
    text-align: center;
    width: 41rem;
    overflow: hidden;
}

@media only screen and (max-width: 43rem) {
    .contentBox {
        max-width: 100%;
        padding: 0;
    }
}

.contentBoxHeaderAndFooter {
    border-color: black;
    background-color: blueviolet;
    display: flex;
    justify-content: space-evenly;
    padding: 1rem;
}

.upvote.active {
    color: green;
}

.downvote.active {
    color: red;
}

.contentBox p {
    max-width: 100%; /* Set the maximum width to the width of the contentBox */
    white-space: normal; /* Allow text to wrap within the <p> element */
    text-overflow: ellipsis; /* Add an ellipsis (...) for text overflow */
}

.contentBox video,
.contentBox img,
.contentBox a {
    max-width: 100%; /* Force media and links to fit within the container */
    height: auto; /* Maintain the aspect ratio */
}
