/*Used for styling the contentBox*/
html {
    font-size: 16px; /*standard font-size (1 rem = 16 px)*/ 
    background-color: #2B262D;;
}

.contentBox {
    margin-top: 1rem;
    background-color: blueviolet;
    padding: 1rem;
    text-align: center;
    width: 41rem;
}

.contentBoxHeaderAndFooter {
    border: 0.3rem solid;
    border-color: rgb(27, 87, 84);
    background-color: blueviolet;
    display: flex;
    justify-content: space-evenly;
    padding-left: 1rem;
    padding-right: 1rem;
}

.upvote.active {
    color: green;
}

.downvote.active {
    color: red;
}

.contentBox p {
    max-width: 100%; /* Set the maximum width to the width of the contentBox */
    white-space: normal; /* Allow text to wrap within the <p> element */
    text-overflow: ellipsis; /* Add an ellipsis (...) for text overflow */
    word-wrap: break-word; /*Wraps the word if it overflows the container*/
    padding: 0rem 1rem 0rem 1rem;
}

.contentBox video,
.contentBox img,
.contentBox a {
    max-width: 100%; /* Force media and links to fit within the container */
    height: auto; /* Maintain the aspect ratio */
}

.contentBox video,
.contentBox img {
    max-height: 31rem;
}

.contentBox a {
    color: lightblue;
    padding-right: 1rem;
    word-wrap: break-word; /*Wraps the word if it overflows the container*/
}

@media only screen and (max-height: 65rem) {
    .contentBox video,
    .contentBox img {
        max-height: 30rem;
    }
}

@media only screen and (max-width: 43rem) {
    .contentBox {
        max-width: 100%;
        padding: 0;
    }
    .contentBoxHeaderAndFooter {
        border: 0.2rem solid;
        border-color: rgb(27, 87, 84);
    }
}