.errorFormContainer {
  position: fixed;
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
}

.errorForm {
  display: flex;
  flex-direction: column;
  background-color: var(--error-background);
  width: 41rem;
  padding: 1rem;
}

.errorForm h3 {
  align-self: center;
  margin-top: 0;
  margin-bottom: 0;
}

.errorForm textarea {
  height:5rem;
}